<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="psp-api" packages="" monitorInterval="30">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <RollingFile name="RollingFile" fileName="${sys:log}" filePattern="${sys:log}.%d{yyyy-MM-dd}.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t]  %-5level %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <AsyncLogger name="asia.leadsgen" level="info"/>
        <AsyncRoot level="info">
            <AppenderRef ref="RollingFile"/>
        </AsyncRoot>
        <Root level="debug">
            <AppenderRef ref="CONSOLE" />
        </Root>
    </Loggers>
</Configuration>