<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>

<body style="font-size: 18px;color: #333333;margin: 0px;">
    <div class="header" style="padding: 22px;border-bottom: 1px solid #eef1f7">
        <div style="height:40px;max-width: 600px;margin: 0 auto;">
            <div style="float:left;">
                <ul style="list-style: none;float: left;margin: 0;padding-left: 0;">
                    <li style="float: left;margin-right:15px;">
                        <a href="#" target="_blank">
                            <img src="http://cdn.30usd.com/email/images/logo.png">
                        </a>
                    </li>
                    <li style="float: left;margin: 7px 0;">
                        <a href="#" target="_blank" style="text-decoration:none">
                            <span style="font-size: 24px;font-weight: 600;color:#333;">Burger</span><span style="font-size: 14px;font-style: italic;color:#333;">prints</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div style="float:right;">
                <ul style="list-style: none;float: left;margin: 0;padding-left: 0;">
                    <li style="float: left;margin: 0 15px;">
                        <a href="#" target="_blank">
                            <img src="http://cdn.30usd.com/email/templates/ordered/images/facebook.png" style="height:20px;margin-top:10px;">
                        </a>
                    </li>
                    <li style="float: left;margin: 0 15px;">
                        <a href="#" target="_blank">
                            <img src="http://cdn.30usd.com/email/templates/ordered/images/tw.png" style="height:20px;margin-top:10px;">
                        </a>
                    </li>
                    <li style="float: left;margin: 0 15px;">
                        <a href="#" target="_blank">
                            <img src="http://cdn.30usd.com/email/templates/ordered/images/in.png" style="height:20px;margin-top:10px;">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content" style="padding: 0 22px 0 22px;">
        <div style="max-width: 600px;margin: 0 auto;">
		
            <div>
                <p style="font-size: 24px;">Hi&nbsp;<b th:text="${customerName}"> </b>,</p>
                <p>Your Order&nbsp;<a th:href="${tracking_url}" target="_blank" style="text-decoration:none;color:#fa9918;">#&nbsp;<span th:text="${tracking_code}"></span></a>&nbsp;has been placed on&nbsp;<b th:text="${paymentDate}"></b>&nbsp;via&nbsp;<b th:text="${paymentMethod}"></b>.</p>
            </div>
            <div style="border: 2px solid #364760;"></div>
            <div style="display: table;width: 100%;table-layout: fixed;border-spacing: 10px;">
                <div style="display: table-cell;">
                    <p style="font-size:10px;color:#6f6f6f">Payment info:</p>
                    <p style="font-size:12px;margin: 0 0 3px 0;" th:text="${customerName}"></p>
                    <p style="font-size:12px;margin: 0 0 3px 0;" th:text="${customerEmail}"></p>
                    <p style="font-size:12px;margin: 0 0 3px 0;" th:text="${customerPhone}"></p>
                </div>
                <div style="display: table-cell;">
                    <p style="font-size:10px;color:#6f6f6f">Your Order will be delivered to:</p>
                    <p style="font-size:12px;margin: 0 0 3px 0;"><b th:text="${customerName}"></b>
                    </p>
                    <p style="font-size:12px;margin: 0 0 3px 0;"><span th:text="${shippingLine1}"></span>
                        <br><span th:text="${shippingCountry}"></span>
                    </p>
                    <p style="font-size:12px;margin: 0 0 3px 0;">Phone:&nbsp;<span th:text="${customerPhone}"></span>
                    </p>
                </div>
            </div>
            <div style="margin:30px 0 30px 0;">
                <a th:href="${tracking_url}" target="_blank" style="text-decoration:none;font-size: 18px;border-radius: 3px;background-color: #fa9918;color: #fff;border: none;padding: 10px 30px 10px 30px;">
				ORDER STATUS
			</a>
            </div>
            <p style="font-size: 20px;font-weight:bold;">Order Summary</p>
                <ul style="padding:0;">
                    <li th:each="orderItem : ${orderItemList}" style="clear: both;list-style: none;border-top: 1px solid #ddd;width: 100%;padding: 10px 0;display: inline-block;">
                        <div style="float: left;max-width: 70px;margin-right: 15px;">
                            <img style="width: 100%;" th:src="${orderItem.variant_image}" alt="shirt">
                        </div>
                        <div class="info-shirt" style="width: 50%;float: left;">
                            <p style="font-size: 14px;font-weight:bold;" th:text="${orderItem.variant_name}"></p>
                            <p style="font-size: 10px;color:#6f6f6f">SIZE&nbsp;
                                <text style="font-size: 12px;color:#212121;font-weight:bold;"><b th:text="${orderItem.size_name}"></b>
                            </p>
                        </div>
                        <div class="info-shirt" style="width: 20%;float: right;">
                            <p style="font-size: 10px;color:#6f6f6f;float:right;"><span th:text="${orderItem.quantity}"></span>x$
                                <text style="font-size: 12px;color:#212121;font-weight:bold;" th:text="${orderItem.price}"></text>
                            </p>
                        </div>
                        <div style="clear:both"></div>
                        <div style="float: left;">
                            <p style="font-size:14px;color:#6f6e72;float:left;margin:8px 0;">Shipping</p>
                        </div>
                        <div class="info-shirt" style="width: 20%;float: right;">
                            <p style="font-size: 12px;color:#333333;float:right;margin:8px 0;">$<span th:text="${orderItem.shipping_fee}"></span>
                            </p>
                        </div>
                        <div style="clear:both"></div>
                        <div style="float: left;">
                            <p style="font-size:14px;color:#333;float:left;font-weight:bold;margin:8px 0;">Sub-total</p>
                        </div>
                        <div class="info-shirt" style="width: 20%;float: right;">
                            <p style="font-size: 12px;color:#333333;font-weight:bold;float:right;margin:8px 0;">$<span th:text="${orderItem.amount}"></span>
                            </p>
                        </div>
                    </li>
                    <li style="clear: both;list-style: none;border-top: 1px solid #ddd;width: 100%;padding: 10px 0;display: inline-block;">
                        <div style="float: left;">
                            <p style="font-size:14px;color:#333;float:left;font-weight:bold;margin:8px 0;">Order Total</p>
                        </div>
                        <div class="info-shirt" style="width: 20%;float: right;">
                            <p style="font-size: 36px;color:#fa9918;font-weight:bold;float:right;margin:8px 0;">$<span th:text="${orderAmount}"></span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer" style="padding: 22px;border-top: 1px solid #eef1f7;">
        <div style="max-width: 600px;margin: 0 auto;">
            <div style="margin-bottom: 30px;">
                <p style="font-size: 14px;font-weight:600;">Need help?</p>
                <p style="font-size: 14px;">Visit our <a href="#" target="_blank" style="text-decoration:none;color:#fa9918;">&nbsp;Help Center&nbsp;</a> for latest tips or you can leave us a message at our <a href="#" target="_blank" style="text-decoration:none;color:#fa9918;">&nbsp;Contact&nbsp;</a> page.</p>
            </div>
            <p style="text-transform: uppercase;font-size: 10px;font-weight: bold;letter-spacing: 1.2px;text-align: center;"><a href="https://burgerprints.com" target="_blank" style="text-decoration:none;color: #9fa3a7;">https://burgerprints.com</a>
            </p>
        </div>
    </div>

</body>

</html>